@model List<merch_store.DB_Layer.DBTables.Product>

@{
    ViewData["Title"] = "Main Page";
}

<div class="container product-container">
    <div class="row" id="products-grid">
        @Html.Partial("_ProductsGrid", Model)
    </div>
</div>

<!-- optional: подключение файлов JS -->
<script src="~/js/filters.js"></script>