<aside class="col-md-3 col-lg-2 bg-light py-3 sidebar">
    <h2 class="fs-5 mb-3">Categories</h2>
    <ul class="list-unstyled">
        <li>
            <a class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#cat1" role="button">
                Clothes <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="collapse list-unstyled ms-3" id="cat1">
                <li><a href="#">T-shirts</a></li>
                <li><a href="#">Hoodie</a></li>
            </ul>
        </li>
        <li>
            <a class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#cat2" role="button">
                Accessories <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="collapse list-unstyled ms-3" id="cat2">
                <li><a href="#">Signs</a></li>
                <li><a href="#">Banners</a></li>
            </ul>
        </li>
        <li>
            <a class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#cat3" role="button">
                By Bands <i class="fas fa-chevron-down"></i>
            </a>
            <ul class="collapse list-unstyled ms-3" id="cat3">
                <li><a href="#">Cerebral Attack</a></li>
                <li><a href="#">Dead Goose</a></li>
                <li><a href="#">Egocide</a></li>
                <li><a href="#">Gospodar</a></li>
                <li><a href="#">Green Cringe</a></li>
                <li><a href="#">NoMoreRemorse</a></li>
                <li><a href="#">Re-Education</a></li>
                <li><a href="#">Suture Scarification</a></li>
                <li><a href="#">Slam</a></li>
                <li><a href="#">Weapon Guide</a></li>
            </ul>
        </li>
    </ul>
</aside>